<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
  </context-param>
  <!-- 过滤器配置开始 -->
	<filter>
		<description>全站乱码解决过滤器</description>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>yidong.nanan.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <servlet-name>DealOLTTrafficUpload</servlet-name>
    <servlet-class>yidong.nanan.web.DealOLTTrafficUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DealOLTUpWidthUpload</servlet-name>
    <servlet-class>yidong.nanan.web.DealOLTUpWidthUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DealOLTDownWidthUpload</servlet-name>
    <servlet-class>yidong.nanan.web.DealOLTDownWidthUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchChart</servlet-name>
    <servlet-class>yidong.nanan.web.SearchChart</servlet-class>
  </servlet>
  <servlet> 
    <servlet-name>DisplayChart</servlet-name> 
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class> 
  </servlet>
  <servlet-mapping> 
     <servlet-name>DisplayChart</servlet-name> 
     <url-pattern>/DisplayChart</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DealOLTTrafficUpload</servlet-name>
    <url-pattern>/dealOLTTrafficUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DealOLTUpWidthUpload</servlet-name>
    <url-pattern>/dealOLTUpWidthUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DealOLTDownWidthUpload</servlet-name>
    <url-pattern>/dealOLTDownWidthUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchChart</servlet-name>
    <url-pattern>/searchChart</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
